@charset"UTF-8";

@import url(http://fontes.googleapis.com/css?family=Titillium+Web);

@font-face {
    font-family: 'FonteLogo';
    src: url("/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffe0;
}

.bud {
    background-color: #ddd;
    margin-top: 75px;
}

div#interface {
    position: relative;
    background-color: #fff;
    width: 900px;
    margin: -20px auto 0px auto;
    box shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
    padding: 10px;
}

img#icone1 {
    position: absolute;
    left: 600px;
    top: -40px;
    width: 200px;

}
header#cabecalho h1 {
    font-family: "FonteLogo";
    color: #606060;
    font-size: 25pt;
    margin-left: 10px;
    margin-top: 10px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web';
    color: #888888;
    margin-top: -13px;
    margin-left: 10px;
}

nav#menu-prin {
    display: block; /* transformar t0do o que é menu em bloco */
}

nav#menu-prin ul {
    list-style: none; /* remover marcadores de lista */
    text-transform: uppercase; /* converter para maiúsculas */
    position: absolute;
    margin-top: -10px;
    margin-left: 100px;
    margin-right: -100px;
    border-top: 1px #606060 solid;
    border-bottom: 1px #606060 solid;
}

nav#menu-prin li {
    display: inline-block; /* colocar os items lado a lado */
    padding: 5px;
    margin: 2px; /* aumentar o espaçamento externo da caixa cinza */
    transition: background-color 1s;
}
/* mover para efeito do mouse ao passar sobre o li */
nav#menu-prin li:hover{
    background-color: #606060; /* cinza escuro */
}

nav#menu-prin h1 {
    display: none;
}

nav#menu-prin a {
    color: #000;
    text-decoration: none;
}

nav#menu-prin a:hover {
    color: #fff;
    text-decoration: underline;
}

img#icone {
    position: absolute;
    left: 500px;
    top: 300px;

}

nav#profissões{
    list-style: none; /remover os marcadores da lista/
    text-transform :uppercase; /* converter para maíusculas*/
    text-decoration: none;
    text-align: center;
    clear: both;
    border-top: 1px solid #606060;
 }


hgroup#cabecalho-pagina-principal h2 {
    font-size: 13pt;
    color: #cecece; /* cinza muito claro */
    background-color: #fff; /* branco */
    margin-top: -25px;
    margin-left: 5px;
}

.direita {
    text-align: left;
    margin-top: 10px;
    color: #a9a9a9;
}

h1.info {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}

.primeiro {
    text-align: center;
}

.segundo {
    text-align: center;
}

.terceiro {
    text-align: center;
}

figure.foto-desenvolvedor {
    margin-left:325px;
    margin-right: 325px;
}

footer#rodape {
clear: both;
border-top: 1px solid #606060;
}

footer#rodape p{
text-align: center;
}