@charset"UTF-8";

@import url(http://fontes.googleapis.com/css?family=Titillium+Web);

body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
}

@font-face {
    font-family: 'FonteLogo';
    src: url("/bubblegum-sans-regular.otf");
}

div#interface {
    position: relative;
    background-color: #fff;
    width: 900px;
    margin: -20px auto 0px auto;
    box shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
    padding: 10px;
}

header#cabecalho h1 {
    font-family: "FonteLogo";
    color: #606060;
    font-size: 25pt;
    margin-left: 10px;
    margin-top: 10px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web';
    color: #888888;
    padding: 0px;
    margin-top: -13px;
    margin-left: 10px;
}

hgroup#cabecalho-pagina-principal h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin: 0px;
}
.bud {
    margin-top: 55px;
    background-color: #ddd;
}

figure.foto-legenda {
    position: relative;
    border: 8px solid white; /* solid hidden dotted dashed double groove ridge inset outset */
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}


nav#menu-prin {
    display: block; /* transformar t0do o que é menu em bloco */
}

nav#menu-prin ul {
    list-style: none; /* remover marcadores de lista */
    text-transform: uppercase; /* converter para maiúsculas */
    position: absolute;
    margin-top: -10px;
    margin-left: 85px;
    border-top: 1px #606060 solid;
    border-bottom: 1px #606060 solid;
    text-align: center;
}

nav#menu-prin li {
    display: inline-block; /* colocar os items lado a lado */
    padding: 5px; /* aumentar o espaçamento interno da caixa cinza */
    margin: 2px; /* aumentar o espaçamento externo da caixa cinza */
    transition: background-color 1s;
}

/* mover para efeito do mouse ao passar sobre o li */
nav#menu-prin li:hover{
    background-color: #606060; /* cinza escuro */

}

nav#menu-prin h1 {
    display: none;
}

nav#menu-prin a {
    color: #000;
    text-decoration: none;
}

nav#menu-prin a:hover {
    color: #fff;
    text-decoration: underline;
}

img#icone {
    position: absolute;
    left: 650px;
    top: -40px;
    width: 200px;
}

p {
        text-align: justify;
        text-indent: 50px;
}

 figure.foto-legenda {
        position: relative;
        border: 8px solid white;
        /*solid hidden dotted dashed double groove ridge inset outset*/
        box-shadow: 10px 10px 40px black; /* horizontal vertical difusão cor da sombra */
}

    figure.foto-legenda img{
        width: 100%;
        height: 100%;
 }

 nav#profissões{
    list-style: none; /remover os marcadores da lista/
    text-transform :uppercase; /* converter para maíusculas*/
    text-decoration: none;
 }

footer#rodape {
clear: both;
border-top: 1px solid #606060;
}

footer#rodape p{
text-align: center;
}

h1.info {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin: 0px;
}

hgroup#cabecalho-pagina-principal h2 {
    font-size: 13pt;
    color: #cecece; /* cinza muito claro */
    background-color: #fff; /* branco */
    margin: 0px;
    margin-left: 5px;
}

.direita {
    text-align: left;
    margin-top: 10px;
    color: #a9a9a9;
}

.prof {
    text-align: center;
}

.fut {
    text-align: center;
}

.prep {
    text-align: center;
}
li.sn1{
    position: relative;
    margin-left: 30px;
}