@charset "UTF-8";

form {
    width: 500px; /*largura*/
    margin: auto; /*centralizar*/
}



input, textarea {
    font-family: sans-serif; /* removendo a serifa das fontes */
    font-weight: normal; /* remover qualquer negrito que exista */
    font-size: 13pt; /* tamanho da fonte */
    background-color: rgba(255, 255, 255, 0.7); /* configurando a cor de fundo: brancio com opacidade 70% */
}

input:hover, textarea:hover {
    background-color: #ddd;
}


nav#menu-prin {
    display: block; /* transformar t0do o que é menu em bloco */
}

nav#menu-prin ul {
    list-style: none; /* remover marcadores de lista */
    text-transform: uppercase; /* converter para maiúsculas */
    position: absolute;
    margin-top: -100px;
    margin-right: -1000px;
    border-top: 1px #606060 solid;
    border-bottom: 1px #606060 solid;
}

nav#menu-prin li {
    display: inline-block; /* colocar os items lado a lado */
    padding: 5px;
    margin: 2px; /* aumentar o espaçamento externo da caixa cinza */
    transition: background-color 1s;
}
/* mover para efeito do mouse ao passar sobre o li */
nav#menu-prin li:hover{
    background-color: #606060; /* cinza escuro */
}

nav#menu-prin h1 {
    display: none;
}

nav#menu-prin a {
    color: #000;
    text-decoration: none;
}

nav#menu-prin a:hover {
    color: #fff;
    text-decoration: underline;
}


legend {
    color: #888; /* cinza escuro */
    font-weight: bolder; /* negrito */
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece; /*cinza claro*/
    margin: 20px;
}

img#icone1 {
    position: absolute;
    left: 600px;
    top: -40px;
    width: 200px;

}


fieldset#idSexo {
    width: 150px;
}

fieldset#idUsuario {
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#idEndereco {
    background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#idMensagem {
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#idPedido {
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}

.bud {
    margin-top: 60px;
}
